@media (min-width: 992px) and (max-width: 4000px){
    .findStoreContainer{
        // border: 1px solid red;

        & .bannerSection{
            & > img{
                height: auto;
                width: 100%;
                margin: 0;
                transform: none;
            }
        }

        & .goToHomeSection{
            display: grid;
            grid-template-columns: 8fr 4fr;
            padding: 10px 30px;
            margin: 0;
            background-color: #ffffff;

            & .leftContent{
                display: grid;
                grid-template-columns: 2fr 2fr 2fr 2fr;
                align-items: center;
                justify-content: center;
                text-align: center;

                & .homeImageAndText{
                    display : flex;
                    align-items: center;
                    margin: 0;
                    border-right: 1px solid rgb(117,117,117);

                    & > img{
                        width: 18px;
                        height: 18px;
                        margin-right: 10px;
                    }
                    & > p{
                        font-size: 13px;
                        margin: 0;
                    }
                }

                & > p{
                    font-size: 13px;
                    margin: 0;
                }
            }

            & .rightContent{
                display : none;
            }
        }

        & .storeBody{
            // border: 1px solid blue;
            padding: 40px 80px;
            background-color: rgb(247,247,247);

            & .subscriptionSection{
                display : grid;
                grid-template-columns: repeat(2,6fr);
                column-gap: 100px;

                & .leftSide{
                    align-items: flex-start;
                    text-align: left;
                    justify-content: flex-start;

                    & > p:first-child{
                        font-size: 28px;
                        font-weight: bold;
                        opacity: 1;
                        word-spacing: nowrap;
                        color: rgb(52,52,52);
                        margin: 0;
                    }

                    & > p:nth-child(2){
                        font-size: 28px;
                        font-weight: bold;
                        opacity: 1;
                        word-spacing: nowrap;
                        color: rgb(52,52,52);
                        margin-top: 10px;
                        
                    }

                    & > p:nth-child(3){
                        font-size: 13px;
                        font-weight: 500;
                        opacity: 1;
                        word-spacing: nowrap;
                        color: rgb(117,117,117);
                        letter-spacing: 1px;
                    }

                    & > button{
                        border-radius: 25px;
                        padding: 8px 20px;
                        color: #ffffff;
                        background-color: rgb(248,143,0);
                        border: 1px solid rgb(248,143,0);
                        font-size: 15px;
                        font-weight: 500;
                        opacity: 1;
                        word-spacing: nowrap;
                        margin-top: 10px;
                        
                    }
                }

                & .rightSide{
                    align-items: center;
                    justify-content: center;
                    text-align: center;

                    & > img{
                        width: auto;
                        height: 100%;
                    }                
                }
            }

            & .saveMoneySection{
                display : grid;
                grid-template-columns: repeat(2,6fr);
                column-gap: 100px;
                margin: 100px 0;

                & .leftSide{
                    align-items: center;
                    text-align: center;
                    justify-content: center;

                    & > img{
                        width: auto;
                        height: 100%;
                    }
                }

                & .rightSide{
                    align-items: flex-start;
                    justify-content: flex-start;
                    text-align: left;

                    & > p:first-child{
                        font-size: 28px;
                        font-weight: bold;
                        opacity: 1;
                        word-spacing: nowrap;
                        color: rgb(52,52,52);
                        margin: 0;
                    }

                    & > p:nth-child(2){
                        font-size: 28px;
                        font-weight: bold;
                        opacity: 1;
                        word-spacing: nowrap;
                        color: rgb(52,52,52);
                        margin-top: 10px;                    
                    }

                    & > p:nth-child(3){
                        font-size: 13px;
                        font-weight: 500;
                        opacity: 1;
                        word-spacing: nowrap;
                        color: rgb(117,117,117);
                        letter-spacing: 1px;
                    }

                    & > input{
                        text-align: left;
                        border: none;
                        border-bottom: 1px solid rgb(78,173,60);
                        padding: 10px 0;
                        font-size: 13px;
                        font-weight: 500;
                        font-family: sans-serif;
                        opacity: 1;
                        word-spacing: nowrap;
                        margin: 10px 0;
                        color: rgb(78,173,60);
                        background-color: rgb(247,247,247);
                    }

                    & > button{
                        border-radius: 25px;
                        padding: 8px 20px;
                        color: #ffffff;
                        background-color: rgb(248,143,0);
                        border: 1px solid rgb(248,143,0);
                        font-size: 15px;
                        font-weight: 500;
                        opacity: 1;
                        word-spacing: nowrap;
                        margin-top: 10px;                    
                    }
                }
            }

            & .recipesSection{
                display : grid;
                grid-template-columns: repeat(2,6fr);
                column-gap: 100px;
                margin-bottom: 50px;

                & .leftSide{
                    align-items: flex-start;
                    text-align: left;
                    justify-content: flex-start;

                    & > p:first-child{
                        font-size: 28px;
                        font-weight: bold;
                        opacity: 1;
                        word-spacing: nowrap;
                        color: rgb(52,52,52);
                        margin: 0;
                    }

                    & > p:nth-child(2){
                        font-size: 28px;
                        font-weight: bold;
                        opacity: 1;
                        word-spacing: nowrap;
                        color: rgb(52,52,52);
                        margin-top: 10px;
                        
                    }

                    & > p:nth-child(3){
                        font-size: 13px;
                        font-weight: 500;
                        opacity: 1;
                        word-spacing: nowrap;
                        color: rgb(117,117,117);
                        letter-spacing: 1px;
                    }

                    & > button{
                        border-radius: 25px;
                        padding: 8px 20px;
                        color: #ffffff;
                        background-color: rgb(248,143,0);
                        border: 1px solid rgb(248,143,0);
                        font-size: 15px;
                        font-weight: 500;
                        opacity: 1;
                        word-spacing: nowrap;
                        margin-top: 10px;
                        
                    }
                }

                & .rightSide{
                    align-items: center;
                    justify-content: center;
                    text-align: center;

                    & > img{
                        width: auto;
                        height: 100%;
                    }                
                }
            }
        }

        & .readyToOrderSection{
            width: 100%;
            height: 270px;
            background-color: rgb(31,59,65);
            position: relative;
            text-align: center;
            align-items: center;
            justify-content: center;

            & > p:first-child{
                font-size: 28px;
                font-weight: bold;
                opacity: 1;
                word-spacing: nowrap;
                letter-spacing: 0;
                position: absolute;
                top: 20%;
                color: #ffffff;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            & > p:nth-child(2){
                font-size: 13px;
                font-weight: 500;
                opacity: 1;
                word-spacing: nowrap;
                letter-spacing: 0;
                position: absolute;
                top: 40%;
                color: #ffffff;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            & .searchLocation{
                // border: 1px solid red;
                width: max-content;
                height: auto;
                margin-left: auto;
                margin-right: auto;
                position: relative;
                top: 60%;

                & > input{
                    padding: 13px ;
                    text-align: left;
                    border: none; 
                    padding-left: 50px; 
                }

                & > img{
                    width: 15px;
                    height: 15px;
                    position: absolute;
                    left: 15px;
                    top: 13px;

                }

                & > button{
                    padding: 13px;
                    border: none;
                    background-color: rgb(78,173,60);
                    color: #ffffff;
                    // position: absolute;

                    & > img{
                        width: 12px;
                        height: 12px;
                    }
                }
            }
        }
    }
}

@media (max-width: 991px){

    .findStoreContainer{
        //  border: 1px solid red;
        width: 100%;
        margin: 0;
        height: auto;
        transform: none;

        & .bannerSection{
            & > img{
                height: auto;
                width: 100%;
                margin: 0;
                transform: none;
            }
        }

        & .goToHomeSection{
            display: grid;
            grid-template-columns: 10fr 2fr;
            padding: 10px 30px;
            margin: 0;
            background-color: #ffffff;

            & .leftContent{
                display: grid;
                grid-template-columns: 2.5fr 2.5fr 2.5fr 2.5fr;
                align-items: center;
                justify-content: center;
                text-align: center;

                & .homeImageAndText{
                    display : flex;
                    align-items: center;
                    margin: 0;
                    border-right: 1px solid rgb(117,117,117);

                    & > img{
                        width: 18px;
                        height: 18px;
                        margin-right: 10px;
                    }
                    & > p{
                        font-size: 13px;
                        margin: 0;
                    }
                }

                & > p{
                    font-size: 13px;
                    margin: 0;
                }
            }

            & .rightContent{
                display : none;
            }
        }

        & .storeBody{
            // border: 1px solid blue;
            padding: 40px 20px;
            background-color: rgb(247,247,247);

            & .subscriptionSection{
                display : grid;
                grid-template-columns: repeat(2,6fr);
                column-gap: 10px;

                & .leftSide{
                    align-items: flex-start;
                    text-align: left;
                    justify-content: flex-start;

                    & > p:first-child{
                        font-size: 28px;
                        font-weight: bold;
                        opacity: 1;
                        word-spacing: nowrap;
                        color: rgb(52,52,52);
                        margin: 0;
                    }

                    & > p:nth-child(2){
                        font-size: 28px;
                        font-weight: bold;
                        opacity: 1;
                        word-spacing: nowrap;
                        color: rgb(52,52,52);
                        margin-top: 10px;
                        
                    }

                    & > p:nth-child(3){
                        font-size: 13px;
                        font-weight: 500;
                        opacity: 1;
                        word-spacing: nowrap;
                        color: rgb(117,117,117);
                        letter-spacing: 1px;
                    }

                    & > button{
                        border-radius: 25px;
                        padding: 8px 20px;
                        color: #ffffff;
                        background-color: rgb(248,143,0);
                        border: 1px solid rgb(248,143,0);
                        font-size: 15px;
                        font-weight: 500;
                        opacity: 1;
                        word-spacing: nowrap;
                        margin-top: 10px;
                        
                    }
                }

                & .rightSide{
                    align-items: center;
                    justify-content: center;
                    text-align: center;

                    & > img{
                        width: auto;
                        height: 250px;
                    }                
                }
            }

            & .saveMoneySection{
                display : grid;
                grid-template-columns: repeat(2,6fr);
                column-gap: 10px;
                margin: 100px 0;

                & .leftSide{
                    align-items: center;
                    text-align: center;
                    justify-content: center;

                    & > img{
                        width: auto;
                        height: 350px;
                    }
                }

                & .rightSide{
                    align-items: flex-start;
                    justify-content: flex-start;
                    text-align: left;

                    & > p:first-child{
                        font-size: 28px;
                        font-weight: bold;
                        opacity: 1;
                        word-spacing: nowrap;
                        color: rgb(52,52,52);
                        margin: 0;
                    }

                    & > p:nth-child(2){
                        font-size: 28px;
                        font-weight: bold;
                        opacity: 1;
                        word-spacing: nowrap;
                        color: rgb(52,52,52);
                        margin-top: 10px;                    
                    }

                    & > p:nth-child(3){
                        font-size: 13px;
                        font-weight: 500;
                        opacity: 1;
                        word-spacing: nowrap;
                        color: rgb(117,117,117);
                        letter-spacing: 1px;
                    }

                    & > input{
                        text-align: left;
                        border: none;
                        border-bottom: 1px solid rgb(78,173,60);
                        padding: 10px 0;
                        font-size: 13px;
                        font-weight: 500;
                        font-family: sans-serif;
                        opacity: 1;
                        word-spacing: nowrap;
                        margin: 10px 0;
                        color: rgb(78,173,60);
                        background-color: rgb(247,247,247);
                    }

                    & > button{
                        border-radius: 25px;
                        padding: 8px 20px;
                        color: #ffffff;
                        background-color: rgb(248,143,0);
                        border: 1px solid rgb(248,143,0);
                        font-size: 15px;
                        font-weight: 500;
                        opacity: 1;
                        word-spacing: nowrap;
                        margin-top: 10px;                    
                    }
                }
            }

            & .recipesSection{
                display : grid;
                grid-template-columns: repeat(2,6fr);
                column-gap: 10px;
                margin-bottom: 50px;

                & .leftSide{
                    align-items: flex-start;
                    text-align: left;
                    justify-content: flex-start;

                    & > p:first-child{
                        font-size: 28px;
                        font-weight: bold;
                        opacity: 1;
                        word-spacing: nowrap;
                        color: rgb(52,52,52);
                        margin: 0;
                    }

                    & > p:nth-child(2){
                        font-size: 28px;
                        font-weight: bold;
                        opacity: 1;
                        word-spacing: nowrap;
                        color: rgb(52,52,52);
                        margin-top: 10px;
                        
                    }

                    & > p:nth-child(3){
                        font-size: 13px;
                        font-weight: 500;
                        opacity: 1;
                        word-spacing: nowrap;
                        color: rgb(117,117,117);
                        letter-spacing: 1px;
                    }

                    & > button{
                        border-radius: 25px;
                        padding: 8px 20px;
                        color: #ffffff;
                        background-color: rgb(248,143,0);
                        border: 1px solid rgb(248,143,0);
                        font-size: 15px;
                        font-weight: 500;
                        opacity: 1;
                        word-spacing: nowrap;
                        margin-top: 10px;
                        
                    }
                }

                & .rightSide{
                    align-items: center;
                    justify-content: center;
                    text-align: center;

                    & > img{
                        width: auto;
                        height: 250px;
                    }                
                }
            }
        }

        & .readyToOrderSection{
            width: 100%;
            height: 270px;
            background-color: rgb(31,59,65);
            position: relative;
            text-align: center;
            align-items: center;
            justify-content: center;

            & > p:first-child{
                font-size: 28px;
                font-weight: bold;
                opacity: 1;
                word-spacing: nowrap;
                letter-spacing: 0;
                position: absolute;
                top: 20%;
                color: #ffffff;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            & > p:nth-child(2){
                font-size: 13px;
                font-weight: 500;
                opacity: 1;
                word-spacing: nowrap;
                letter-spacing: 0;
                position: absolute;
                top: 40%;
                color: #ffffff;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            & .searchLocation{
                // border: 1px solid red;
                width: max-content;
                height: auto;
                margin-left: auto;
                margin-right: auto;
                position: relative;
                top: 60%;

                & > input{
                    padding: 13px ;
                    text-align: left;
                    border: none; 
                    padding-left: 50px; 
                }

                & > img{
                    width: 15px;
                    height: 15px;
                    position: absolute;
                    left: 15px;
                    top: 13px;

                }

                & > button{
                    padding: 13px;
                    border: none;
                    background-color: rgb(78,173,60);
                    color: #ffffff;
                    // position: absolute;

                    & > img{
                        width: 12px;
                        height: 12px;
                    }
                }
            }
        }
    }

}

@media (max-width: 767px){
    .findStoreContainer{
        // border: 1px solid red;
       width: 100%;
       margin: 0;
       height: auto;
       transform: none;

       & .bannerSection{
           & > img{
               height: auto;
               width: 100%;
               margin: 0;
               transform: none;
           }
       }

       & .goToHomeSection{
          
           display: flex;
           flex-direction: column;
           margin: 0;
           background-color: #ffffff;
           padding: 10px;

           & .leftContent{
               display: grid;
               grid-template-columns: repeat(2,6fr);
               row-gap: 10px;
               align-items: center;
               justify-content: center;
               text-align: center;

               & .homeImageAndText{
                   display : flex;
                   align-items: center;
                   margin: 0;
                   border-right: 1px solid rgb(117,117,117);

                   & > img{
                       width: 18px;
                       height: 18px;
                       margin-right: 10px;
                   }
                   & > p{
                       font-size: 13px;
                       margin: 0;
                   }
               }

               & > p{
                   font-size: 13px;
                   margin: 0;
               }
           }

           & .rightContent{
               display : none;
           }
       }

       & .storeBody{
           // border: 1px solid blue;
           padding: 30px 20px;
           background-color: rgb(247,247,247);

           & .subscriptionSection{
               display : flex;            
               flex-direction: column;
           
               & .leftSide{
                   align-items: flex-start;
                   text-align: left;
                   justify-content: flex-start;

                   & > p:first-child{
                       font-size: 22px;
                       font-weight: bold;
                       opacity: 1;
                       word-spacing: nowrap;
                       color: rgb(52,52,52);
                       margin: 0;
                   }

                   & > p:nth-child(2){
                       font-size: 22px;
                       font-weight: bold;
                       opacity: 1;
                       word-spacing: nowrap;
                       color: rgb(52,52,52);
                       margin-top: 10px;
                       
                   }

                   & > p:nth-child(3){
                       font-size: 13px;
                       font-weight: 500;
                       opacity: 1;
                       word-spacing: nowrap;
                       color: rgb(117,117,117);
                       letter-spacing: 1px;
                   }

                   & > button{
                       border-radius: 25px;
                       padding: 8px 20px;
                       color: #ffffff;
                       background-color: rgb(248,143,0);
                       border: 1px solid rgb(248,143,0);
                       font-size: 15px;
                       font-weight: 500;
                       opacity: 1;
                       word-spacing: nowrap;
                       margin-top: 10px;
                       margin-bottom: 20px;
                       
                   }
               }

               & .rightSide{
                   align-items: center;
                   justify-content: center;
                   text-align: center;

                   & > img{
                       width: auto;
                       height: 250px;
                   }                
               }
           }

           & .saveMoneySection{
               display : flex;
               flex-direction: column;
              
               & .leftSide{
                   align-items: center;
                   text-align: center;
                   justify-content: center;
                   margin-bottom: 20px;

                   & > img{
                       width: auto;
                       height: 350px;
                   }
               }

               & .rightSide{
                   align-items: flex-start;
                   justify-content: flex-start;
                   text-align: left;

                   & > p:first-child{
                       font-size: 22px;
                       font-weight: bold;
                       opacity: 1;
                       word-spacing: nowrap;
                       color: rgb(52,52,52);
                       margin: 0;
                   }

                   & > p:nth-child(2){
                       font-size: 22px;
                       font-weight: bold;
                       opacity: 1;
                       word-spacing: nowrap;
                       color: rgb(52,52,52);
                       margin-top: 10px;                    
                   }

                   & > p:nth-child(3){
                       font-size: 13px;
                       font-weight: 500;
                       opacity: 1;
                       word-spacing: nowrap;
                       color: rgb(117,117,117);
                       letter-spacing: 1px;
                   }

                   & > input{
                       text-align: left;
                       border: none;
                       border-bottom: 1px solid rgb(78,173,60);
                       padding: 10px 0;
                       font-size: 13px;
                       font-weight: 500;
                       font-family: sans-serif;
                       opacity: 1;
                       word-spacing: nowrap;
                       margin: 10px 0;
                       color: rgb(78,173,60);
                       background-color: rgb(247,247,247);
                   }

                   & > button{
                       border-radius: 25px;
                       padding: 8px 20px;
                       color: #ffffff;
                       background-color: rgb(248,143,0);
                       border: 1px solid rgb(248,143,0);
                       font-size: 15px;
                       font-weight: 500;
                       opacity: 1;
                       word-spacing: nowrap;
                       margin-top: 10px;
                       margin-bottom: 20px;                    
                   }
               }
           }

           & .recipesSection{
                display : flex;
                flex-direction: column;
              
               & .leftSide{
                   align-items: flex-start;
                   text-align: left;
                   justify-content: flex-start;

                   & > p:first-child{
                       font-size: 22px;
                       font-weight: bold;
                       opacity: 1;
                       word-spacing: nowrap;
                       color: rgb(52,52,52);
                       margin: 0;
                   }

                   & > p:nth-child(2){
                       font-size: 22px;
                       font-weight: bold;
                       opacity: 1;
                       word-spacing: nowrap;
                       color: rgb(52,52,52);
                       margin-top: 10px;
                       
                   }

                   & > p:nth-child(3){
                       font-size: 13px;
                       font-weight: 500;
                       opacity: 1;
                       word-spacing: nowrap;
                       color: rgb(117,117,117);
                       letter-spacing: 1px;
                   }

                   & > button{
                       border-radius: 25px;
                       padding: 8px 20px;
                       color: #ffffff;
                       background-color: rgb(248,143,0);
                       border: 1px solid rgb(248,143,0);
                       font-size: 15px;
                       font-weight: 500;
                       opacity: 1;
                       word-spacing: nowrap;
                       margin-top: 10px;
                       margin-bottom: 20px;                       
                   }
               }

               & .rightSide{
                   align-items: center;
                   justify-content: center;
                   text-align: center;

                   & > img{
                       width: auto;
                       height: 250px;
                   }                
               }
           }
       }

       & .readyToOrderSection{
        width: 100%;
        height: 170px;
        background-color: rgb(31,59,65);
        position: relative;
        text-align: center;
        align-items: center;
        justify-content: center;

        & > p:first-child{
            font-size: 17px;
            font-weight: bold;
            opacity: 1;
            word-spacing: nowrap;
            letter-spacing: 0;
            position: absolute;
            top: 10%;
            color: #ffffff;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        & > p:nth-child(2){
            font-size: 13px;
            font-weight: 500;
            opacity: 1;
            word-spacing: nowrap;
            letter-spacing: 0;
            position: absolute;
            bottom: 20%;
            color: #ffffff;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        & .searchLocation{
            width: -webkit-fill-available;
            display: flex;
            margin: 0;
            align-items: center;
            height: auto;
            margin-left: auto;
            margin-right: auto;
            position: absolute;
            top: 70%;
            justify-content: center;
            margin: 0 20px;

            & > input{
                width: 100%;
                padding-left: 50px;
                // padding: 13px ;
                text-align: left;
                border: none;  
                justify-content: center;
                
                & > img{
                    width: 10px;
                    height: 10px;
                }
            }

            & > button{
                padding: 13px;
                border: none;
                background-color: rgb(78,173,60);
                color: #ffffff;

                & > img{
                    width: 12px;
                    height: 12px;
                }
            }
        }
    }
    }
}