/* all header related scss styles goes in this file.. */
.headerContainer {
    margin-bottom: 4px;
    
    & .headerTop {
        display: grid;
        grid-template-columns: 3fr 4fr 2fr 3fr;
        padding: 8px 5px;

        & > div:first-child {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        & > div:nth-child(2) {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            & > img {
                position: absolute;
                top: 15px;
                left: 15px;
                height: 16px;
            }

            & > input {
                width: -webkit-fill-available;
                padding: 12px 10px 12px 40px;
                border-radius: 22px;
                border: 2px solid #e9e9e9;
                outline: 0;
            }

            & > input::placeholder {
                font-weight: 600;
                font-size: 12px;
                font-family: "ApercuRegular", sans-serif;
                color: #000000;
                opacity: 1;
                line-height: 1.6;
                margin: 0;
            }
        }

        & > div:nth-child(3) {
            display: flex;
            align-items: center;
            justify-content: center;

            & > p:first-child {
                font-weight: 600;
                font-size: 12px;
                font-family: "ApercuRegular", sans-serif;
                color: #343434;
                opacity: 1;
                line-height: 1.6;
                margin: 0 4px 0 0;
                border-bottom: 2px solid #ffffff;
            }

            & > p:last-child {
                font-weight: 600;
                font-size: 12px;
                font-family: "ApercuRegular", sans-serif;
                color: #343434;
                opacity: 1;
                line-height: 1.6;
                margin: 0 0 0 4px;
                border-bottom: 2px solid #ffffff;
            }

            & p:hover {
                border-bottom: 2px solid #3d9939;
            }
        }

        & > div:last-child {
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            & > div:first-child,
            & > div:nth-child(2) {
                & > button {
                    background: #ffffff;
                    border: 2px solid #f9a737;
                    outline: 0;
                    cursor: pointer;
                    padding: 5px 10px;
                    border-radius: 22px;
                    font-weight: 600;
                    font-size: 12px;
                    font-family: "ApercuRegular", sans-serif;
                    color: #f88f00;
                    opacity: 1;
                    line-height: 1.6;
                    margin: 0;
                }

                & > button:hover {
                    background: #f88f00;
                    color: #ffffff;
                    cursor: pointer;
                }
            }

            & > a{
                text-decoration: none;
                & > div:last-child {
                    display: flex;
                    align-items: center;
                    position: relative;
    
                    & > img {
                        height: 50px;
                    }
    
                    & > p:first-of-type {
                        font-weight: 600;
                        font-size: 12px;
                        font-family: "ApercuRegular", sans-serif;
                        color: #343434;
                        opacity: 1;
                        line-height: 1.6;
                        margin: 0;
                    }
    
                    & > div:last-child {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 20px;
                        width: 20px;
                        background: #f68e1e;
                        border-radius: 25px;
                        position: absolute;
                        top: 20px;
                        left: 15px;
    
                        & > p {
                            font-weight: 600;
                            font-size: 10px;
                            font-family: "ApercuRegular", sans-serif;
                            color: #fef1e3;
                            opacity: 1;
                            line-height: 1.6;
                            margin: 0;
                        }
                    }
                }
            }           
        }
    }

    & .headerBottom {
        display: grid;
        grid-template-columns: 4fr 4fr 4fr;
        padding: 0 60px;
        background: #21891C;

        & > div:first-child {
            display: grid;
            grid-template-columns: 2fr 2fr;

            & > div:first-child {
                display: flex;
                align-items: center;
                justify-content: center;
                background: #287C19;
                padding: 10px 0;

                & > div:first-child {  
                    & > img {
                        height: 32px;
                    }
                }

                & > div:last-child {
                    margin: 0 0 0 5px;

                    & > p:first-child {
                        white-space: nowrap;
                        font-weight: 600;
                        font-size: 10px;
                        font-family: "ApercuRegular", sans-serif;
                        color: #ffffff;
                        opacity: 1;
                        line-height: 1.6;
                        margin: 0;
                    }
    
                    & > p:last-child {
                        white-space: nowrap;
                        font-weight: 600;
                        font-size: 8px;
                        font-family: "ApercuRegular", sans-serif;
                        color: #dff0dc;
                        opacity: 1;
                        line-height: 1.6;
                        margin: 0;
                    }
                }
            }
            
            & > div:last-child {
                display: flex;
                align-items: center;
                justify-content: center;
                background: #35A320;

                & > div:first-child {  
                    & > img {
                        height: 32px;
                    }
                }

                & > div:last-child {
                    margin: 0 0 0 5px;

                    & > p:first-child {
                        white-space: nowrap;
                        font-weight: 600;
                        font-size: 10px;
                        font-family: "ApercuRegular", sans-serif;
                        color: #ffffff;
                        opacity: 1;
                        line-height: 1.6;
                        margin: 0;
                    }
    
                    & > p:last-child {
                        white-space: nowrap;
                        font-weight: 600;
                        font-size: 8px;
                        font-family: "ApercuRegular", sans-serif;
                        color: #dff0dc;
                        opacity: 1;
                        line-height: 1.6;
                        margin: 0;
                    }
                }
            }
        }

        & > div:nth-child(2) {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            padding: 10px 50px;

            & > div {
                display: flex;

                & > p {
                    white-space: nowrap;
                    font-weight: 600;
                    font-size: 12px;
                    font-family: "ApercuRegular", sans-serif;
                    color: #ffffff;
                    opacity: 1;
                    line-height: 1.6;
                    margin: 0 8px 0 0;
                }
            }

            & > div:last-child {
                & > p {
                    margin-right: 0;
                }
            }
        }

        & > div:last-child {
            display: grid;
            grid-template-columns: 2fr 2fr;

            & > div:first-child {
                display: flex;
                align-items: center;
                justify-content: center;
                background: #35A320;
                padding: 10px 0;

                & > div:first-child {  
                    & > img {
                        height: 32px;
                    }
                }

                & > div:last-child {
                    margin: 0 0 0 5px;

                    & > p:first-child {
                        white-space: nowrap;
                        font-weight: 600;
                        font-size: 10px;
                        font-family: "ApercuRegular", sans-serif;
                        color: #ffffff;
                        opacity: 1;
                        line-height: 1.6;
                        margin: 0;
                    }
    
                    & > p:last-child {
                        white-space: nowrap;
                        font-weight: 600;
                        font-size: 8px;
                        font-family: "ApercuRegular", sans-serif;
                        color: #dff0dc;
                        opacity: 1;
                        line-height: 1.6;
                        margin: 0;
                    }
                }
            }
            
            & > div:last-child {
                display: flex;
                align-items: center;
                justify-content: center;
                background: #287C19;

                & > a{
                    text-decoration: none;
                    
                    & > div:first-child {  
                        & > img {
                            height: 32px;
                        }
                    }
    
                    & > div:last-child {
                        margin: 0 0 0 5px;
    
                        & > p:first-child {
                            white-space: nowrap;
                            font-weight: 600;
                            font-size: 10px;
                            font-family: "ApercuRegular", sans-serif;
                            color: #ffffff;
                            opacity: 1;
                            line-height: 1.6;
                            margin: 0;
                        }
        
                        & > p:last-child {
                            white-space: nowrap;
                            font-weight: 600;
                            font-size: 8px;
                            font-family: "ApercuRegular", sans-serif;
                            color: #dff0dc;
                            opacity: 1;
                            line-height: 1.6;
                            margin: 0;
                        }
                    }

                }
            }
        }
    }

    & .absoluteNavigation {
        position: absolute;
        width: 100%;
        top: 122px;
        left: 0;
        background: transparent;
        z-index: 3;
    }
}

@media (max-width: 1024px) {
    .headerContainer {
        & .headerBottom {
            padding: 0 25px;
        }
    }
}

@media (max-width: 991px) {
    .headerContainer {
        & .headerTop {
            display: flex;
            flex-direction: column;

            & > div:first-child {
                padding: 10px 0 5px 0;
            }

            & > div:nth-child(2) {
                padding: 5px 0;

                & > img {
                    top: 16px;
                }
            }

            & > div:nth-child(3) {
                padding: 5px 0;
            }

            & > div:last-child {
                padding: 5px 0;
            }
        }

        & .headerBottom {
            display: flex;
            flex-direction: column;
            padding: 10px;
        }
    }
}
